.header{
    display:flex;
    justify-content: space-between;
    color:white;
}
.menu{
    color:white;
}
body{
    background-color: black;
}
.characters{
    display:flex;
    flex-wrap: wrap;
    color:white
}